extends layout

block content
    
  if __produtos
    div(style='width: 100%; text-align: center; ')
      each _produto in __produtos
        div(style='display: inline-block; width: 100%; text-align: center; border: 1px solid gainsboro; padding-bottom: 8px; margin: 2px;')
            img(src=_produto.imagens.principal, style='width: 33%; border: 0px; float: left')
            p 
                b #{_produto.nome}
                br
                = _produto.descricao.substring(0, 22) + '...'
            if !_produto.desconto
                b R$ #{_produto.valor} &nbsp;
            else
                small(style='text-decoration: line-through; color: red') R$ #{_produto.valor}
                b &nbsp; R$ #{_produto.desconto} &nbsp;
            
            input(type="text", name="quantidade", style="width: 30px; border: solid 1px gainsboro")
    div(style="width: 100%; text-align: center")
        br
        button(style="color: white; font-size: 16px; width: 98%; height: 42px; background: green; border: 0px") Finalizar Compra
